Web API/bin/
packages/
Web API/obj/
Data Access/obj/
Data Access/bin/
UniteTests/obj/
Integration Tests/obj/
UniteTests/bin/
Integration Tests/bin/
Web API/logs/
Core/obj/Debug/netstandard1.6/.IncrementalCache
Core/obj/
Core/bin/
PropertyWizard.Entities/obj/
PropertyWizard.Entities/bin/
