<div class="jumbotron">
    <h1>Property Wizard Web API</h1>
    <p class="lead">
        This web site contains information about Property Wizard Web API.
        <br>This is part of a Property Wizard project.
        <br>The API are work in progress anf free for now but it will be soon restricted to authorized application.
        <br>Probably we'll give the opportunity to request a token to use it.
        <br>The "API" section contains always updsate documentation about the usage of the API.
    </p>
    <p>
        <a href="Help" class="btn btn-primary btn-lg">Go to API help page &raquo;</a>
    </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Agencies</h2>
        <p>
            For the moment only Agencies on the London area are taken in consideration.
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Properties</h2>
        <p>...</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Sell prices</h2>
        <p>It will be possible to look at sell data of all properties in UK from 1995 to now.</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>*@
    </div>
</div>
